@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* Dark Mode */

.dark-mode-switch {
    position:absolute;
    right: 5px;
    top: 5px;
}

.dark {
    background-color:#262829;
}

.white-text {
    color: white;
}

.dark-box {
    background-color: #399845;
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px;
}

  /* Colours */

.green {
    color: #4fbc6f;
}

.dark-green {
    color: #3c4a3e;
}

.beige {
    color: #9FAFA1;
}

.light-blue {
    color: #00BAFE;
}

.blue {
    color: #0085C5;
}

.white {
    color: white;
}

.red {
    color: crimson;
}

/* Fonts */

.roboto {
    font-family: Roboto, 'sans-serif';
}

.bold {
    font-weight: bolder;
}

/* Buttons */

.btn-blue {
    color: #000 !important; /* Overriding Bootstrap CSS*/
    font-weight: bold !important; /* Overriding Bootstrap CSS*/;
    border-color: #00BAFE !important; /* Overriding Bootstrap CSS*/;
    background-color: #00BAFE !important; /* Overriding Bootstrap CSS*/;
    margin: 5px auto !important; /* Overriding Bootstrap CSS*/;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue:active:focus {
    border-color: #0083b3 !important; /* Overriding Bootstrap CSS*/;
    background-color: #0083b3 !important; /* Overriding Bootstrap CSS*/;
    color: white !important; /* Overriding Bootstrap CSS*/;
}

.btn-close {
    background-color: rgb(255 255 255 / 85%);
    border-radius: 20px;
    opacity: 1;
}

.btn-close:hover {
    transition: ease-in-out;
    background-color: rgb(158 158 158 / 85%);
}

.btn-info {
    max-height: 30px;
    max-width: 100px;
    margin: auto;
    padding: 0 2px 0 2px !important; /* Overriding Bootstrap CSS*/
    font-size: small !important; /* Overriding Bootstrap CSS*/
}

.btn-radius {
    font-size: small !important;  /* Overriding Bootstrap CSS*/
}

.navbar {
    background-image: url(../images/modal-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:top;
    min-height: 120px;
}

#logo {
    height: 110px;
}

#logo-md {
    height: 80px;
}

#brand-title {
    text-align: center;
    margin: 0 auto;
    font-family: Roberto, 'sans-serif';
    font-weight: bolder;
    font-size: 50px;
    background-color: rgb(255 255 255 / 85%);
    border-radius: 20px;
    padding: 0 10px 0 10px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.navbar-toggler {
    background-color: rgb(255 255 255 / 85%);
    border-radius: 20px;
}

.nav-link {
    color: white !important; /* Overriding Bootstrap CSS*/
    font-size: larger;
}

.about-item {
    width: 131.45px;
}

.about-link {
    background-color: #399845;
    border-radius: 20px;
    padding: 0 10px 0 10px !important; /* Overriding Bootstrap CSS*/
    margin: 43px 10px 0 0 !important; /* Overriding Bootstrap CSS*/
    float: right;
}

.contact-link {
    background-color: #399845;
    border-radius: 20px;
    padding: 0 10px 0 10px !important; /* Overriding Bootstrap CSS*/
    margin: 43px 0 0 10px !important; /* Overriding Bootstrap CSS*/
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link:active:focus {
    color: #00BAFE !important; /* Overriding Bootstrap CSS*/
}

.greeting-box-before {
    height: 86vh;
    width: 100vw;
    margin: 0 auto;
}

.greeting-box-after {
    width: 100vw;
    margin: 0 auto;
}

#locate {
    background: transparent;
    border: none;
    font-size: large;
}

.locate-after {
    left: 10vw;
    position: absolute;
    top: 152px;
    font-size: small;
}

.locate-before {
    left: 50%;
    position: absolute;
    top: 40vh;
    font-size: large;
}

#locate:hover,
#locate:focus,
#locate:active,
#loate:active:focus {
    color: #00BAFE;
}

#locate:visited {
    color: #0085C5;
    min-height: 67px;
}

.search-area {
    text-align: center;
}

.search-box-after {
    background-image: url(../images/search-bg.png);
    background-repeat: repeat-x;
    background-size:contain;
    background-position-y:bottom;
    background-position-x: center;
    background-color:white;
    width: 60vw;
    height: 40px;
    margin: 18px auto;
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    font-size:medium;
    text-align: center;
    border-radius: 50px;
}

.search-box-after:focus-visible {
    outline: none;
}

.search-box-after::placeholder {
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    color: grey;
    font-size:medium;
    text-align: center;
    margin: auto;
}

.search-box-before {
    background-image: url(../images/search-bg.png);
    background-repeat: repeat-x;
    background-size:contain;
    background-position-y:bottom;
    background-position-x: center;
    background-color: white;
    width: 80vw;
    height: 80px;
    margin: 35vh auto;
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    font-size:calc(10px + 1.5vw);
    text-align: center;
    border-radius: 50px;
}

.search-box-before:focus-visible {
    outline: none;
}

.search-box-before::placeholder {
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    color: grey;
    font-size:calc(10px + 1.5vw);
    text-align: center;
    margin: auto;
}

.dark-search{
    background-color: gray;
}

.dark-search::placeholder {
    color: white;
}

#radius-container {
    text-align: center;
    font-size: 12px;
    background-color: #00BAFE;
    min-height: 30px;
    padding: 4px 0;
    margin: 6px 0;
    font-family: 'Roboto';
    font-weight: bold;
}

#radius-adjust {
    float: right;
}

.result-num-container {
    float: left;
    padding-left: 3vw;
}

/* Slider CSS by w3c */

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    border-radius: 50px;
    background: #4fbc6f; /* Blue background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4fbc6f; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  /* END OF SLIDER */

.map {
    width: 100vw;
    height: 450px;
    margin-bottom: 10px;
}

.search-results-after {
    border-radius: 16px;
    margin: 0 auto;
}

.result-box {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    font-family: roboto, 'sans-serif';
    margin: 10px auto;
}

.result-box:hover,
.result-box:active,
.result-box:focus,
.result-box:active:focus {
    box-shadow: 8px 7px #01b9fe;
}

.result-row {
    padding: 0;
}

.result-title-container {
    min-height:5vh;
}

.result-title-container a {
    text-decoration: none;
    color:#0085C5;
}

.result-label {
    font-size: min(13px);
    font-weight: bold;
    margin-bottom: 5px;
}

.result-data-container {
    padding-top:4px;
}

.result-data {
    font-size: min(12px);
    margin-left: 10px;
    margin-bottom: 0px;
}

.result-address {
    margin-bottom: 0;
}

.result-modal {
    padding: 30px;
}

#about {
    background-color:#399845 ;
    border-radius: 30px;
    min-height: 30vh;
    width: 99%;
    margin: 2vh auto 2vh auto;
}

.about-header {
    background-image: url(../images/modal-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    border-radius: 30px 30px 0 0;
    min-height: 10%;
}

.about-heading {
    text-align: center;
    font-size:calc(20px + 1vw);
    margin: 2vh auto 2vh auto;
    background-color: rgb(255 255 255 / 85%);
    border-radius: 20px;
    width: fit-content;
    padding: inherit;;
}

.hello-about {
    margin: auto;
    text-align: center;
    font-size: x-large;
}

.about-content {
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.5s;
    font-size: 1.5rem;
}

.about-hide {
    opacity: 0;
}

.about-text {
    margin-top: 4vh;
    margin-bottom: 2vh;
    text-align: center;
    /* font-size:calc(10px + 1.5vw); */
}

#footer {
    height: 10vh;
    background-image: url(../images/modal-banner.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.facebook-link {
    font-size: 50px;
    text-align: center;
}

.facebook-link a {
    color: white;
}

.contact-modal-header {
    background-image: url(../images/modal-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 50px 0 0 !important; /* Overriding Bootstrap CSS*/
}

.contact-modal-content {
    color: black;
    border-radius: 50px !important; /* Overriding Bootstrap CSS*/
}

.contact-modal-title {
    margin: 0 auto;
    font-size: xx-large;
    background-color: rgb(255 255 255 / 85%);
    border-radius: 20px;
}

.contact-modal-close {
    position: absolute;
    right: 10px;
}

.contact-label {
    vertical-align: top;
    font-size: x-large;
    font-family: 'Roboto', 'sans-serif';
    width: 25%;
    color: darkslategrey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-input {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 74%;
    vertical-align: text-top;
}

.contact-message {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 74%;
    min-height: 40%;
}

/* Media Queries */

@media screen and (max-width:991px) {
    .about-link {
        margin: 5px 0 0 0 !important; /* Overriding Bootstrap CSS*/
        padding: 0 10px 0 10px !important; /* Overriding Bootstrap CSS*/
        width: fit-content;
        float: right;
    }
    
    .contact-link {
        margin: 2px 0 0 0 !important; /* Overriding Bootstrap CSS*/
        text-align: right;
        padding: 0 10px 0 10px !important; /* Overriding Bootstrap CSS*/
        width: fit-content;
        float: right;
    }

    .about-item {
        width: auto;
    }

    .dark-mode-switch {
        position: sticky;
        float: right;
        margin-top: 2px;
        margin-bottom: 5px;
        width: auto;
        background-color: #399845;
        border-radius: 20px;
        padding: 0 10px 0 10px;
    }
    .dark-box {
        border: none;
    }
}

@media screen and (max-width:767px) {
    #result-no-container {
        float: none;
        padding: 0;
    }
    #radius-adjust {
        float: none;
        padding: 0;
    }
}