@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* Colours */

.green {
    color: #4fbc6f;
}

.dark-green {
    color: #3c4a3e;
}

.beige {
    color: #9FAFA1;
}

.light-blue {
    color: #00BAFE;
}

.blue {
    color: #0085C5;
}

.white {
    color: white;
}

/* Fonts */

.roboto {
    font-family: Roboto, 'sans-serif';
}

.bold {
    font-weight: bolder;
}

/* Buttons */

.btn-blue {
    color: #000 !important;
    font-weight: bold !important;
    border-color: #00BAFE !important;
    background-color: #00BAFE !important;
    margin: 5px auto;
}

.navbar {
    background-image: url(../images/modal-banner.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:top;
}

#logo {
    height: 80px;
    margin-right: 170px;
}

#brand-title {
    text-align: center;
    margin: 0 auto;
    font-family: Roberto, 'sans-serif';
    font-weight: bolder;
    font-size: 50px;
    background-color: rgb(255 255 255 / 85%);
    border-radius: 20px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
    align-items: center;
}

.navbar-nav {
    background-color: rgb(255 255 255 / 85%);
    border-radius: 20px;
}

.nav-link {
    color: #4fbc6f !important;
    font-size: larger;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link:active:focus {
    color: black !important;
}

#greeting-box {
    height: 80vh;
    width: 100vw;
    margin: 0 auto;
}

.search-area {
    text-align: center;
}

#search-box {
    width: 80vw;
    height: 80px;
    margin: 35vh auto;
    color: black;
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    color: black;
    font-size: 40px;
    text-align: center;
    border-radius: 50px;
}

#search-box:focus-visible {
    outline: none;
}

#search-box::placeholder {
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    color: grey;
    font-size: 40px;
    text-align: center;
    margin: auto;
}

#map {
    height: 50%;
    border-radius: 16px;
    margin: 1vh !important;
  }

#search-results {
    border-radius: 16px;
    margin: 1vh !important;
}
#about {
    background-color:#399845 ;
    border-radius: 30px;
    min-height: 30vh;
    width: 99%;
    margin: 2vh auto 2vh auto;
    padding: 1%;
}

.about-heading {
    text-align: center;
    font-size: 40px;

}

.about-text {
    text-align: center;
}

#footer {
    height: 10vh;
    background-color: teal;
}

.facebook-link {
    font-size: 50px;
    text-align: center;
}

.facebook-link a {
    color: white;
}

.modal-header {
    background-image: url(../images/modal-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 50px 0 0 !important;
}

.modal-content {

    border-radius: 50px !important;
}

.modal-title {
    margin: 0 auto;
    font-size: xx-large;
    background-color: rgb(255 255 255 / 85%);
    border-radius: 20px;
}

.btn-close {
    background-color: rgb(255 255 255 / 85%) !important;
    border-radius: 20px !important;
    opacity: 1 !important;
}

.btn-close:hover {
    transition: ease-in-out;
    background-color: rgb(158 158 158 / 85%) !important;
}

.contact-label {
    font-size: x-large;
    font-family: 'Roboto', 'sans-serif';
    width: 25%;
    color: darkslategrey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-input {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 74%;
}

.contact-message {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 74%;
    min-height: 40%;
}